<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/sign-up.css">
        <link rel="stylesheet" href="/static/logmobile.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>

    </style>
    <body>
        <div class="box1">
            <div class="box3"><h2>VIMAL JYOTHI STUDENTS PORTAL</h2>VJSP
            </div>
            <div class="box2">
                <h1>Send Password Reset Link:  </h1>
                <form method="POST" class="register-form" id="register-form">
                
             
                <input type="text" name="your_name" id="your_name" size="40" placeholder="  Username or email" required class="input">
                <button type="submit" name="signup" id="signup" class="form-submit" value="Register">Sign-Up</button><br><br>
                
            </form>
            </div>
        
        </div>
        

    </body>
    </html>
